.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button-primary {
  color: #6608c5;
  border: 2px solid #6608c5;
}

.button-primary:hover {
  color: #fff;
  background-color: #6608c5;
}

.button-secondary {
  color: #fff;
  border: 2px solid #fff;
}

.button-secondary:hover {
  color: #6608c5;
  background-color: #fff;
}

.button-tertiary {
  color: #fff;
  background-color: #6608c5;
  border: 2px solid #6608c5;
}

.button-tertiary:hover {
  color: #6608c5;
  background-color: #fff;
}

.button-medium {
  padding: 15px 20px;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
header .header-title {
  color: #25282b;
  max-width: 850px;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}
header .header-title span {
  position: relative;
  color: #6608c5;
  -webkit-animation-name: header-span;
          animation-name: header-span;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes header-span {
  0% {
    top: -50px;
    color: #fff;
  }
  100% {
    top: 0px;
    color: #6608c5;
  }
}
@keyframes header-span {
  0% {
    top: -50px;
    color: #fff;
  }
  100% {
    top: 0px;
    color: #6608c5;
  }
}

.about {
  background-color: #6608c5;
  color: #fff;
  padding: 10px 25px 50px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 800px;
}
.about .about-title {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  margin: 40px 0;
}
.about .about-wrapper {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
}
.about .about-wrapper .about-img img {
  width: 100%;
  border-radius: 50%;
}
.about .about-wrapper .about-container {
  padding: 0 50px;
}
.about .about-wrapper .about-container .about-link {
  margin-top: 40px;
}
.about blockquote {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 575.98px) {
  .about {
    height: 1220px;
    padding: 10px 5px 50px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }
  .about .about-title {
    margin: 10px 0;
  }
  .about .about-wrapper {
    display: block;
  }
  .about .about-wrapper .about-img {
    max-width: 350px;
    margin: auto;
  }
  .about .about-wrapper .about-container {
    padding: 0 5px;
  }
}

.projects .projects-title {
  text-align: center;
  padding: 20px 0;
}
.projects .projects-article {
  display: flex;
  justify-content: space-around;
  padding: 0 25px;
  max-width: 1300px;
  margin: auto;
  margin: 50px auto;
}
.projects .projects-article .projects-container {
  padding-right: 50px;
}
.projects .projects-article .projects-container h3 {
  margin-bottom: 20px;
}
.projects .projects-article .projects-container .projects-link {
  margin-top: 50px;
}
.projects .projects-article .projects-img {
  min-width: 300px;
}
.projects .projects-article .projects-img img {
  width: 100%;
}
@media (max-width: 575.98px) {
  .projects .projects-title {
    padding: 0;
  }
  .projects .projects-article {
    flex-direction: column;
    padding: 0 5px;
  }
  .projects .projects-article .projects-container {
    order: 2;
    padding: 0;
  }
  .projects .projects-article .projects-container .projects-img {
    order: 1;
  }
}

.contacts {
  background-color: #6608c5;
  color: #fff;
  padding: 10px 25px 50px;
  -webkit-clip-path: polygon(0 40%, 100% 0, 100% 101%, 0 101%);
          clip-path: polygon(0 40%, 100% 0, 100% 101%, 0 101%);
  height: 500px;
  margin-top: 10rem;
}
.contacts .contacts-container {
  margin: 13rem auto 0;
  max-width: 1300px;
}
.contacts .contacts-container .contacts-title {
  margin-bottom: 2.5rem;
  text-align: center;
}
.contacts .contacts-container .contacts-link {
  margin-top: 2.5rem;
  text-align: center;
}
@media (max-width: 575.98px) {
  .contacts {
    height: 445px;
    padding: 5px 5px 50px;
    -webkit-clip-path: polygon(0 21%, 100% 0, 100% 101%, 0 101%);
            clip-path: polygon(0 21%, 100% 0, 100% 101%, 0 101%);
  }
  .contacts .contacts-container {
    margin: 140px auto 0;
  }
  .contacts .contacts-container .contacts-title {
    margin-bottom: 20px;
  }
  .contacts .contacts-container .contacts-link {
    margin-top: 20px;
  }
}

footer {
  background-color: #002324;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  padding: 0 30px;
}
footer ul li a {
  font-size: 30px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
footer ul li a:hover {
  color: #6608c5;
}
footer p {
  color: #fff;
  margin-top: 1rem;
}
@media (max-width: 575.98px) {
  footer ul li {
    padding: 0 25px;
  }
  footer p {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */