/* CSS variables */
:root {
  --color-brand: #6608c5;
  --color-text-primary: #25282b;
  --color-text-secondary: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.header-title {
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
}

.header-title span {
  position: relative;
  color: var(--color-brand);
  animation-name: test;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes test {
  0% {
    top: -50px;
    color: var(--color-text-secondary);
  }
  100% {
    top: 0px;
    color: var(--color-brand);
  }
}

.header-button {
  border: 1px solid var(--color-brand);
  border-radius: 3px;
  color: var(--color-brand);
  text-decoration: none;
  padding: 10px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.header-button:hover {
  background-color: var(--color-brand);
  color: #fff;
}

.about {
  background-color: var(--color-brand);
  color: #fff;
  padding: 10px 25px 50px 25px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 800px;
}

.about-title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  margin: 40px 0 40px 0;
}

.about-wrapper {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
}

.about-img img {
  width: 100%;
  border-radius: 3px;
}

.about-container {
  padding: 0 50px;
}

.about-link {
  margin-top: 40px;
}

.about-link a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.about-link a:hover {
  background-color: #fff;
  color: var(--color-brand);
}

blockquote {
  text-align: center;
  margin-top: 50px;
}

.projects-title {
  text-align: center;
  padding: 20px 0 20px 0;
}

article {
  display: flex;
  justify-content: space-around;
  padding: 0 25px 0 25px;
  max-width: 1300px;
  margin: auto;
  margin: 50px auto 50px auto;
}

.projects-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 900px;
  padding: 0 50px 0 0;
}

.projects-container h3 {
  margin-bottom: 20px;
}

.projects-link {
  flex-direction: row;
  margin-top: 50px;
}

.projects-link-source {
  text-decoration: none;
  color: var(--color-brand);
  border: 1px solid var(--color-brand);
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.projects-link-source:hover {
  background-color: var(--color-brand);
  color: #fff;
}

.projects-link-view {
  text-decoration: none;
  color: #fff;
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}

.projects-link-view:hover {
  background-color: #fff;
  color: var(--color-brand);
}

.projects-img {
  min-width: 300px;
}

.projects-img img {
  width: 100%;
}

.contacts {
  background-color: var(--color-brand);
  color: #fff;
  padding: 10px 25px 50px 25px;
  clip-path: polygon(0 40%, 100% 0, 100% 101%, 0 101%);
  height: 500px;
  margin-top: 120px;
}

.contacts-container {
  margin: 230px auto 0 auto;
  max-width: 1300px;
}

.contacts-title {
  margin-bottom: 40px;
  text-align: center;
}

.contacts-link {
  margin-top: 40px;
  text-align: center;
}

.contacts-link a {
  text-decoration: none;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-text-secondary);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.contacts-link a:hover {
  background-color: #fff;
  color: var(--color-brand);
}

footer {
  background-color: #002324;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  padding: 0 30px;
}

footer ul li a {
  font-size: 30px;
  color: var(--color-text-secondary);
  transition: all 0.3s ease-in-out;
}

footer ul li a:hover {
  color: var(--color-brand);
}

footer p {
  color: var(--color-text-secondary);
  margin-top: 15px;
}
