@import "./variables";
@import "./buttons";

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .header-title {
    color: $color-text-primary;
    max-width: 850px;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.4;

    span {
      position: relative;
      color: $color-brand;
      animation-name: header-span;
      animation-duration: 1.5s;
      animation-iteration-count: 1;

      @keyframes header-span {
        0% {
          top: -50px;
          color: $color-text-secondary;
        }
        100% {
          top: 0px;
          color: $color-brand;
        }
      }
    }
  }
}

.about {
  background-color: $color-brand;
  color: $color-text-secondary;
  padding: 10px 25px 50px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 800px;

  .about-title {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin: 40px 0;
  }

  .about-wrapper {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;

    .about-img img {
      width: 100%;
      border-radius: 50%;
    }

    .about-container {
      padding: 0 50px;

      .about-link {
        margin-top: 40px;
      }
    }
  }

  blockquote {
    text-align: center;
    margin-top: 50px;
  }
}

.projects {
  .projects-title {
    text-align: center;
    padding: 20px 0;
  }

  .projects-article {
    display: flex;
    justify-content: space-around;
    padding: 0 25px;
    max-width: 1300px;
    margin: auto;
    margin: 50px auto;

    .projects-container {
      padding-right: 50px;

      h3 {
        margin-bottom: 20px;
      }

      .projects-link {
        margin-top: 50px;
      }
    }

    .projects-img {
      min-width: 300px;
      img {
        width: 100%;
      }
    }
  }
}

.contacts {
  background-color: $color-brand;
  color: $color-text-secondary;
  padding: 10px 25px 50px;
  clip-path: polygon(0 40%, 100% 0, 100% 101%, 0 101%);
  height: 500px;
  margin-top: 10rem;

  .contacts-container {
    margin: 13rem auto 0;
    max-width: 1300px;

    .contacts-title {
      margin-bottom: 2.5rem;
      text-align: center;
    }

    .contacts-link {
      margin-top: 2.5rem;
      text-align: center;
    }
  }
}

footer {
  background-color: #002324;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      padding: 0 30px;

      a {
        font-size: 30px;
        color: $color-text-secondary;
        transition: 0.3s;

        &:hover {
          color: $color-brand;
        }
      }
    }
  }

  p {
    color: $color-text-secondary;
    margin-top: 15px;
  }
}
